body {
    font-family: Verdana, sans-serif; 
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0%;
    text-decoration: none;
}
.top{
    position: absolute;
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    background-color: #F4F9EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.button{
  margin-left: 50px;
  padding:5px 20px;
  align-items: right;
  display: inline;
}
.page{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-width: 50px;
    border-bottom:2px solid transparent;
   
}


.brand{	
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    color:#5B4522;			
    display: inline;
    padding:5px 20px;
    background-image: linear-gradient(#5B4522, #5B4522);
    background-position: center bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
    }
.brand:hover{
    font-weight:bolder;
    align-items: center;
    background-size: 60% 2.5px;
}
.brand,span{
  margin-left: 18px;
  margin-right: 10px;
  font-weight: bolder;
  color:#5B4522;
}



.wrap{
  width: 100%;
  height: 70%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: top;
}
.left{
    margin-top: 7.5%;
    margin-left: 5%;
    padding-bottom: 5%;
    background: #A8BE96;
    width: 15%;
    height: auto;
    border-radius: 20px;
}
.right{
    margin-top: 7.5%;
    margin-right: 5%;
    padding-bottom: 5%;
    background: #F4F9EB;
    width: 85%;
    height: 500px;
    border-radius: 20px;
    text-decoration: none;
   
}
.page1{
    margin-top: 40%;
    list-style: none;
  }
.brand1{	
    font-family: monospace;
    font-size: 18px;
    background-color:  rgb(248, 248, 248);
    color:#615959;			
    margin: 10px 15px 30px 15px;
    padding-right:15px; 
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.brand1:hover{
    font-weight:bolder;
    color:#5B4522;	
    background-color: #FFEBA5;	
    
}
.brand:active{
    transform: translateY(4px);
}
.brand1:active{
    transform: translateY(4px);
}
.button{
    font-family: monospace;
    font-size: 18px;
    font-weight:bolder;
    text-align: center;
    color:#5B4522;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-style: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.button:hover{
  background-color: #FFEBA5;
  
}
.button:active{
    transform: translateY(4px);
}
.add{
  margin-top: 5%;
  width: 100%;
  height: 500px;
  align-items: center;
}
.group{
  font-weight:bolder;
  font-weight:bolder;
  width: 50%;
  font-size: 24px;
  margin-top: 1%;
  margin-left: 20%;
  color: #5B4522;
	
}
.input{
  width:100%;
  font-size: 18px;
	color:#5B4522;
	display:block;
	outline: none;
  border:none;
	padding:5px 15px;
	border-radius:25px;
	background:#A8BE96;
}
.button1{
  margin-top: 2%;
  margin-left: 45%;
  font-size: 18px;
  padding:10px 20px;
  border-radius:5px;
  border-style: none;
  font-weight:bolder;
  background-color: #FFEBA5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button1:active{
  transform: translateY(4px);
}

